<%= content_for :page_title, t(".title") %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <h2 class="govuk-heading-m"><%= t(".organisations") %></h2>
      <%= govuk_list do %>
        <li><%= govuk_link_to(t(".select_provider"), provider_organisations_admin_change_organisation_index_path) %></li>
        <li><%= govuk_link_to(t(".select_school"), school_organisations_admin_change_organisation_index_path) %></li>
      <% end %>

      <h2 class="govuk-heading-m">Tools</h2>
      <%= govuk_list do %>
        <li><%= govuk_link_to(t(".job_dashboard"), mission_control_jobs_path) %></li>
        <li><%= govuk_link_to(t(".import_register_itt_placement_data"), new_import_register_data_admin_previous_placements_path) %></li>
        <li><%= govuk_link_to(t(".onboard_users"), new_onboard_users_admin_users_path) %></li>
      <% end %>
    </div>
  </div>
</div>
