<%= content_for :page_title, "Admin dashboard" %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Admin dashboard</h1>

      <%= govuk_list do %>
        <li><%= govuk_link_to("Mission control job dashboard", mission_control_jobs_path) %></li>
        <li><%= govuk_link_to("Import Register ITT Placement Data", new_import_register_data_admin_previous_placements_path) %></li>
        <li><%= govuk_link_to("Onboard users", new_onboard_users_admin_users_path) %></li>
      <% end %>
    </div>
  </div>
</div>
