<%= content_for :page_title, t(".title") %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= organisation.name %></span>
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <% unless organisation.placement_preference_for(academic_year: AcademicYear.current).present? &&
                organisation.placement_preference_for(academic_year: AcademicYear.next).present? %>
        <%= govuk_button_link_to(
              t(".add_placement_information"),
              new_add_hosting_interest_placement_preferences_path(organisation)) %>
      <% end %>

      <% if placement_preferences.exists? %>
        <%= govuk_table do |table| %>
          <% table.with_caption(size: 'm', text: t(".placement_information")) %>
          <% table.with_head do |header| %>
            <% header.with_row do |row| %>
              <% row.with_cell(text: t("placement_preferences.index.academic_year")) %>
              <% row.with_cell(text: t("placement_preferences.index.status")) %>
            <% end %>
          <% end %>

          <% table.with_body do |body| %>
            <% placement_preferences.each do |placement_preference| %>
              <% body.with_row do |row| %>
                <% row.with_cell do %>
                  <%= govuk_link_to(placement_preference.academic_year.name,
                    placement_preference_path(placement_preference),
                                    no_visited_state: true) %>
                <% end %>
                <% row.with_cell do %>
                  <% render InterestTagComponent.new(school: organisation, academic_year: placement_preference.academic_year) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
