<div class="app-filter-layout display-none-on-mobile " data-filter-target="filter">
  <div class="app-filter-layout__filter">
          <%= form_with(
              model: filter_form,
              scope: :filters,
              url: organisations_path,
              method: "get",
            ) do |form| %>
            <%= form.govuk_error_summary %>
      <% end %>
    <div class="app-filter__header">
      <div class="app-filter__header-title">
        <h2 class="govuk-heading-m"><%= t(".filters") %></h2>
      </div>
      <div class="app-filter__header-action">
        <button class="app-filter__close" type="button" data-action="click->filter#close">
          Close
        </button>
      </div>
    </div>
    <div class="app-filter-layout__content">
      <% if filter_form.filters_selected? %>
        <div class="app-filter-layout__selected">
          <div class="app-filter__selected-heading">
            <div class="app-filter__heading-title">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t(".selected_filters") %></h2>
              <p class="govuk-body">
                <%= govuk_link_to(
                      "Clear filters",
                      filter_form.clear_filters_path,
                      no_visited_state: true,
                    ) %>
              </p>
            </div>
          </div>

          <% if @search_location.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".search_location") %></h3>
            <ul class="app-filter-tags">
              <li>
                <%= govuk_link_to(
                      @search_location,
                      filter_form.index_path_without_filter(
                        filter: "search_location",
                        value: @search_location,
                      ),
                      class: "app-filter__tag",
                      no_visited_state: true,
                    ) %>
              </li>
            </ul>
          <% end %>

          <% if filter_form.search_by_name.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".search_by_name") %></h3>
            <ul class="app-filter-tags">
              <li>
                <%= govuk_link_to(
                      filter_form.search_by_name,
                      filter_form.index_path_without_filter(
                        filter: "search_by_name",
                        value: filter_form.search_by_name,
                      ),
                      class: "app-filter__tag",
                      no_visited_state: true,
                    ) %>
              </li>
            </ul>
          <% end %>

          <% if filter_form.schools_to_show.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".schools_to_show") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.schools_to_show.each do |option| %>
                <li>
                  <%= govuk_link_to(
                        t(".schools_to_show_options.#{option}"),
                        filter_form.index_path_without_filter(filter: "schools_to_show", value: option),
                        class: "app-filter__tag",
                        no_visited_state: true,
                        ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.phases.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".phase") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.phases.each do |phase| %>
                <li>
                  <%= govuk_link_to(
                        t(".phases.#{phase}"),
                        filter_form.index_path_without_filter(
                          filter: "phases",
                          value: phase,
                        ),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.subject_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".subjects") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.subject_ids.each do |subject_id| %>
                <li>
                  <%= govuk_link_to(
                        PlacementSubject.find(subject_id).name,
                        filter_form.index_path_without_filter(filter: "subject_ids", value: subject_id),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <div class="app-filter__options">
        <%= form_with(
              model: filter_form,
              scope: :filters,
              url: organisations_path,
              method: "get",
            ) do |form| %>
          <%= form.govuk_submit t(".apply_filters") %>

          <div class="app-filter__option">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s"><%= t(".search_location") %></label>
            </h1>

            <div class="app-filter__option">
              <div class="govuk-form-group">
                <%= form.govuk_text_field :search_location, type: :search, value: @search_location, label: { hidden: true }, caption: { text: "Enter a town, city or postcode" } %>
                <p class="govuk-body-s secondary-text"><%= t(".powered_by_google") %></p>
              </div>
              <% if @search_location.present? %>
                <div class="govuk-form-group">
                  <%= form.govuk_text_field :search_distance, type: :number, label: { hidden: true }, caption: { text: "Enter a max distance from your search location" }, suffix_text: 'miles' %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="app-filter__option">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s"><%= t(".search_by_name") %></label>
            </h1>

            <div class="app-filter__option">
              <div class="govuk-form-group govuk-!-margin-bottom-2">
                <%= form.govuk_text_field :search_by_name, type: :search, label: { hidden: true }, caption: { text: t(".search_by_name_prompt") } %>
              </div>
            </div>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_radio_buttons_fieldset(
              :academic_year_id,
              legend: {
                text: t(".academic_year"),
                size: "s",
              },
              small: true,
            ) do %>
              <% filter_form.academic_years.each do |academic_year| %>
                <%= form.govuk_radio_button :academic_year_id,
                  academic_year.id,
                  label: { text: academic_year.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :schools_to_show,
              legend: {
                text: t(".schools_to_show"),
                size: "s",
              },
              small: true,
              multiple: true,
              ) do %>
              <%= form.govuk_check_box :schools_to_show,
                                          "actively_looking",
                                          label: { text: t(".schools_to_show_options.actively_looking") } %>
              <%= form.govuk_check_box :schools_to_show,
                                          "interested",
                                          label: { text: t(".schools_to_show_options.interested") } %>
              <%= form.govuk_check_box :schools_to_show,
                                          "previously_hosted",
                                          label: { text: t(".schools_to_show_options.previously_hosted") } %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :phases,
              legend: { text: t(".phase"), size: "s" },
              small: true,
              multiple: true,
            ) do %>
              <% PlacementPreference::PHASES.sort.each do |phase| %>
                <%= form.govuk_check_box :phases, phase, label: { text: t(".phases.#{phase}") } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
                  :subject_ids,
                  legend: { text: t(".subjects"), size: "s" },
                  small: true,
                  multiple: true,
                ) do %>
              <% filter_form.subjects.each do |subject| %>
                <%= form.govuk_check_box :subject_ids, subject.id, label: { text: subject.name } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
