<%= content_for :page_title, t(".title") %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render partial: "organisations/filter", locals: { filter_form:, search_location: @search_location } %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>
      <h2 class="govuk-heading-m">
        <%= t(".schools_found", count: pagy.count) %>
      </h2>

      <% if schools.present? %>
        <% if @search_location.present? %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <p class="govuk-hint"><%= @search_location.blank? ? t(".results_alphabetical") : t(".results_distance", location: @search_location) %></p>            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
              <% if params[:show_map] %>
                <%= govuk_link_to(t(".hide_map"), organisations_path(filters: filter_form.query_params, page: params[:page])) %>
              <% else %>
                <%= govuk_link_to(t(".view_map"), organisations_path(filters: filter_form.query_params, show_map: true, page: params[:page])) %>
              <% end %>
            </div>
          </div>
        <% else %>
          <p class="govuk-hint"><%= @search_location.blank? ? t(".results_alphabetical") : t(".results_distance", location: @search_location) %></p>
        <% end %>

        <% if @search_location.present? && params[:show_map] %>
          <%= render MapComponent.new(
            organisations: schools,
            base_latitude: schools.first.latitude,
            base_longitude: schools.first.longitude,
          ) %>
        <% end %>

        <% if Flipper.enabled?(:provider_help_find_placements_broadcast) %>
          <div id="help-find-placement">
            <%= govuk_inset_text do %>
              <p class="govuk-body">
                <%= t(".if_your_require_urgent_assistance") %>
              </p>

              <%= govuk_button_link_to t(".help_find_placements"), new_urgent_placements_organisations_path %>
            <% end %>
          </div>
        <% end %>

        <ul class="app-search-results">
          <% schools.each do |school| %>
            <li class="app-search-results__item">
              <h2 class="govuk-heading-m">
                <%= govuk_link_to("#{school.name}, #{school.town}", organisation_path(school), no_visited_state: true) %>
              </h2>

              <div class="app-result-detail">
                <%= render InterestTagComponent.new(school:) %>
              </div>

              <dl class="app-result-detail">
                <div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><%= t(".school_details") %></h3>
                  <div class="app-result-detail__row">
                    <dt class="app-result-detail__key">
                      <%= t(".urn") %>
                    </dt>
                    <dd class="app-result-detail__value">
                      <%= school.urn %>
                    </dd>
                  </div>
                  <div class="app-result-detail__row">
                    <dt class="app-result-detail__key">
                      <%= t(".phase_age") %>
                    </dt>
                    <dd class="app-result-detail__value">
                      <%= "#{school.phase} (#{school.age_range})" %>
                    </dd>
                  </div>
                  <div class="app-result-detail__row">
                    <dt class="app-result-detail__key">
                      <%= t(".establishment_group") %>
                    </dt>
                    <dd class="app-result-detail__value">
                      <%= school.group %>
                    </dd>
                  </div>
                </div>

                <div class="govuk-!-margin-top-2">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><%= t(".getting_there") %></h3>
                  <div class="app-result-detail__row">
                    <dt class="app-result-detail__key">
                      <%= t(".address") %>
                    </dt>
                    <dd class="app-result-detail__value">
                      <%= school.formatted_address %>
                    </dd>
                  </div>
                  <% if location_coordinates.present? %>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        <%= t(".distance") %>
                      </dt>
                      <dd class="app-result-detail__value">
                        <%= "#{school.distance_to(@location_coordinates).round(1)} miles" %>
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        <%= t(".travel_time") %>
                      </dt>
                      <dd class="app-result-detail__value">
                        <%= "#{school.formatted_duration("transit")} by public transport, #{school.formatted_duration("drive")} by car, #{school.formatted_duration("walk")} walking" %>
                      </dd>
                    </div>
                  <% end %>
                </div>
              </dl>
            </li>
          <% end %>
        </ul>

        <%= render PaginationComponent.new(pagy:) %>
      <% else %>
        <p class="govuk-body">
          <%= t(".no_results") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
