<%= content_for :page_title, t(".title", organisation_name: organisation.name) %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-5">
        <%= govuk_tabs do |tabs| %>
          <% if placement_details.present? && current_organisation.is_a?(Provider) %>
            <%= tabs.with_tab(label: t(".placement_preferences")) do %>
              <span class="govuk-caption-l"><%= organisation.name %></span>
              <%= render "/organisations/placement_preferences", placement_details: %>
            <% end %>
          <% end %>

          <% tabs.with_tab(label: t(".organisation_details")) do %>
            <span class="govuk-caption-l"><%= organisation.name %></span>
            <h1 class="govuk-heading-l"><%= t(".organisation_details") %></h1>

            <% if organisation.is_a?(School) %>
              <% if organisation == current_organisation %>
                <%= govuk_inset_text do %>
                  <%= embedded_link_text(
                    t(".these_details_will_be_displayed",
                      link: govuk_link_to(
                        t(".gias"),
                        "https://www.get-information-schools.service.gov.uk/Guidance/Governance",
                        target: "_blank",
                        new_tab: true,
                      )
                    ),
                  ) %>
                <% end %>
              <% end %>
              <%= render "/organisations/school_details", organisation: %>
            <% else %>
              <%= render "/organisations/provider_details", organisation: %>
            <% end %>
          <% end %>

          <%= tabs.with_tab(label: t(".location") ) do %>
            <span class="govuk-caption-l"><%= organisation.name %></span>
            <%= render "/organisations/location", organisation: %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
