<%# locals: { current_step:, wizard:, potential: false } -%>
<h2 class="govuk-heading-m">
  <%= t(".offering_placements") %>
</h2>

<%= govuk_summary_list(html_attributes: { id: "placement_availability" }) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".can_your_school_offer_placements")) %>
    <% row.with_value(text: t("wizards.add_hosting_interest_wizard.appetite_step.options.#{current_step.appetite}.name")) %>
    <% row.with_action(text: t("change"),
                       href: step_path(:appetite),
                       visually_hidden_text: t(".availability_to_offer_placements"),
                       classes: ["govuk-link--no-visited-state"]) %>
  <% end %>
<% end %>

<h2 class="govuk-heading-m">
  <%= t(".education_phase") %>
</h2>

<%= render "shared/wizards/hosting_interest/check_your_answers/education_phase_list",
 current_step: %>

<% if current_step.year_groups.present? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".primary") : t(".primary_placements") %>
  </h2>

  <%= render "shared/wizards/hosting_interest/check_your_answers/primary_placements_list",
    wizard:, current_step: %>
<% end %>

<% if current_step.selected_secondary_subjects.present? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".secondary") : t(".secondary_placements") %>
  </h2>

  <%= render "shared/wizards/hosting_interest/check_your_answers/secondary_placements_list",
    wizard:, current_step: %>
<% end %>

<% if current_step.key_stages.present? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".send") : t(".send_placements") %>
  </h2>

  <%= render "shared/wizards/hosting_interest/check_your_answers/send_placements_list",
    wizard:, current_step: %>
<% end %>
