<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t(".register_heading") %></h2>

      <p class="govuk-body"><%= t(".register_description_1") %></p>

      <p class="govuk-body"><%= t(".register_description_2") %></p>

      <h2 class="govuk-heading-m"><%= t(".find_heading") %></h2>

      <p class="govuk-body"><%= t(".find_description_1") %></p>

      <%= govuk_inset_text(text: t(".service_description") )%>

      <%= govuk_start_button(text: t(".start_now"), href: sign_in_path) %>
    </div>
  </div>
</div>


<!--Find placement schools-->
<!--Use this service if you are a school or teacher training provider in England.-->

<!--All schools in England should use this service.-->

<!--Schools-->
<!--Use this service to record your school’s ability to offer school placements for trainee teachers.-->

<!--This helps teacher training providers know whether to contact your school and helps the Department for Education understand school capacity to support teacher training.-->

<!--Teacher training providers-->
<!--Use this service to find placement schools your trainee teachers. You can view information about the schools and find contact details to enquire about placements.-->

<!--Before you get started-->
<!--To access this service, you will be asked to sign in or create a Department for Education (DfE) Sign-in account. DfE Sign-in is how schools and other education organisations access DfE online services.-->

<!--This service is being trialled by the Department for Education with schools and teacher training providers in England.-->
