<%= content_for :page_title, t(".heading", user_name: @user.full_name) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: admin_users_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption") %></span>
      <h1 class="govuk-heading-l"><%= t(".heading", user_name: @user.full_name) %></h1>

      <%= govuk_button_to t(".remove_user"), admin_user_path(@user), warning: true, method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), admin_user_path(@user), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
