<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <h3 class="govuk-heading-m"><%= t(".get_help") %></h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h4 class="govuk-heading-3 govuk-!-margin-top-0 govuk-!-margin-bottom-1"><%= t(".email.heading") %></h4>

        <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1">
          <%= link_to t(".support_email_html"), "mailto:#{t(".support_email")}?subject=#{t(".service_name")}%20support", class: "govuk-footer__link" %>
        </p>

        <p class="govuk-!-font-size-16">
          <%= t(".email.disclaimer_html") %>
        </p>
      </div>
    </div>

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <% footer_meta_items.each do |item| %>
            <li class="govuk-footer__inline-list-item">
              <%= link_to item[:text], item[:href], class: "govuk-footer__link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
