<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, t("service.name")].compact.join(" - ") %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1" %>
    <%= tag :meta, property: "og:image", content: asset_path("rebrand/images/govuk-opengraph-image.png") %>
    <%= tag :meta, name: "theme-color", content: "#1d70b8" %>
    <%= favicon_link_tag asset_path("rebrand/images/favicon.ico") %>
    <%= favicon_link_tag asset_path("rebrand/images/govuk-icon-mask.svg"), rel: "mask-icon", type: "image/svg", color: "#0b1c0c" %>
    <%= favicon_link_tag asset_path("rebrand/images/govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "180x180" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="govuk-template__body">
    <script nonce="<%= content_security_policy_nonce %>">
      document.body.className += " js-enabled" + ("noModule" in HTMLScriptElement.prototype ? " govuk-frontend-supported" : "");
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(full_width_border: true) do |header| %>
      <% if user_signed_in? %>
        <% if current_organisation.present? && current_user&.admin? %>
          <% header.with_navigation_item(text: "#{current_organisation&.name} (return to dashboard)", href: return_to_dashboard_admin_change_organisation_index_path) %>
        <% end %>
        <% if current_organisation.present? && current_user&.organisations&.count > 1  %>
          <% header.with_navigation_item(text: "#{current_organisation&.name} (change)", href: change_organisation_index_path) %>
        <% end %>
        <% header.with_navigation_item(text: "Sign out", href: sign_out_path) %>
      <% end %>
    <% end %>

    <%= render(ServiceNavigationComponent.new(current_user:, current_organisation:)) %>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-width-container">
        <% if flash[:heading].present? %>
          <div class="govuk-!-margin-bottom-0">
            <%= render(GovukComponent::NotificationBannerComponent.new(title_text: flash[:success] ? "Success" : "Important", success: flash[:success])) do |nb| %>
              <% nb.with_heading(text: flash[:heading]) %>
              <% if flash[:body].present? %>
                <p class="govuk-body"><%= embedded_link_text(flash[:body]) %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="govuk-width-container">
        <%= yield :before_content %>
      </div>

      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
